/*
* Breakpoints
*/

@mixin max-sm {
	@media (max-width: #{breakpoint('sm') - 1}) {
		@content;
	}
}

@mixin max-md {
	@media (max-width: #{breakpoint('md') - 1}) {
		@content;
	}
}

@mixin max-lg {
	@media (max-width: #{breakpoint('lg') - 1}) {
		@content;
	}
}

@mixin max-xl {
	@media (max-width: #{breakpoint('xl') - 1}) {
		@content;
	}
}

@mixin sm {
	@media (min-width: #{breakpoint('sm')}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{breakpoint('md')}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{breakpoint('lg')}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{breakpoint('xl')}) {
		@content;
	}
}

/*
* Layout
*/

@mixin set-flex($align, $justify, $direction: "") {
	display: flex;
	align-items: $align;
	justify-content: $justify;

	@if $direction != "" {
		flex-direction: $direction;
	}
}

@mixin abs-center-x {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

@mixin abs-center-y {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}
